.background-color {
  background-color: rgba(0, 0, 0, 0.69);
}

header {
  background-color: rgba(0, 0, 0, 0.69);
}

h1 {
  font-family: 'Dancing Script', cursive;
}

.white {
  color: white;
}

h2 {
  font-family: 'Dancing Script', cursive;
  margin: 0;
}

h3 {
  font-family: 'Dancing Script', cursive;
}

ul {
  padding-left: 1.5em;
}

li {
  font-family: 'Comfortaa', cursive;
  color: black
}

p {
  font-family: 'Comfortaa', cursive;
}

.nav {
  display: none;
}

nav a {
  text-decoration: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  /* Put the checkbox off the top of the screen */
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav-label {
  background-color: grey;
}

footer {
  background-color: #19bcb9;
}

.block {
  display: block;
  cursor: pointer;
}

input {
  border: 2px solid #19bcb9;
  border-radius: 5px;
  padding: 0.25em;
  width: 100%;
}

label {
  font-family: 'Comfortaa', cursive;
}

.btn {
  padding: 0.375em 1.5em 0.42em;
  background-color: #19bcb9;
}

.btn:hover {
  background-color: #21d8cf;
}

.eighty {
  width: 80%;

}

@media only screen and (min-width: 25em) { /* 400 */

  .nav-label {
    display: none
  }

  .nav {
    display: block;
  }

}


@media only screen and (min-width: 38em) { /* 608 */

}
